<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Allen Solly</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/Css/allensolly.css">
  </head>
  <body>
    <div class="a">
        <p id="a1">Get flat Rs.500 off - Use code ASAPP500. Valid on your first order on Allen Solly app above Rs 2000. *T&Cs apply.</p>
    </div>
    <div class="b">
      <div class="b2">
        <img src="/IMAGES/icons8-location-50.png" alt="">
        Stores 
      </div>
      <div class="b3">
        <img src="/IMAGES/icons8-envelope-50.png" alt="">
        Contact us</div>
      <div class="b4">
        <img src="/IMAGES/icons8-person-64.png" alt="">
        login</div>
        <div class="b5">
          <img src="/IMAGES/icons8-heart-50.png" alt="">
        </div>
        <div class="b6">
          <img src="/IMAGES/icons8-bag-50.png" alt="">
        </div>
        <div class="b7">
          <img src="/IMAGES/download.png" alt="">
        </div>
    <div class="B1"><p>
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          MORE BRANDS
        </a>
        <!-- g -->
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <img src="/IMAGES/m2.jpeg" alt="">
        </div>
      </div>
      
    
</div> 
  <div class="c">
    <div class="c1"><img src="/IMAGES/header_brand_logo_AS.png" alt=""></div>
    <div class="c2">
      PRODUCT
    </div>
    <div class="c3">
      NEW ARRIVALS
    </div>
    <div class="c4">
      SPECIAL SIZES
    </div>
    <div class="c5">
      WEDDING STORE
    </div>
    <div class="c6">
      GIFT CARD
    </div>
    <div class="c7">
      SALE
    </div>
    <div class="c8">
      <input type="text" placeholder="search">
    
    </div>
  </div>
  <div class="D">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="/IMAGES/m1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/IMAGES/m2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/IMAGES/m3.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/IMAGES/m5.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="E">
   <div class="E1">
    <p id="E11">SUMMER STORE</p>
    <img src="/IMAGES/AS_Home_Thumb_43_24_Summer.jpg" alt="">
   </div>
   <div class="E2">
    <p id="E21">MEN</p>
    <img src="/IMAGES/AS_Home_Thumb_44_24_Men.jpg" alt="">
   </div>
   <div class="E3">
    <p id="E21">WOMEN</p>
    <img src="/IMAGES/AS_Home_Thumb_45_24_Women.jpg" alt="">
   </div>
   <div class="E4">
    <p id="E21">BOYS</p>
    <img src="/IMAGES/AS_Home_Thumb_41_24_Boys.jpg" alt="">
   </div>
   <div class="E5">
    <p id="E21">GIRLS</p>
    <img src="/IMAGES/AS_Home_Thumb_42_24_Girls.jpg" alt="">
   </div>
   <div class="E6">
    <p id="E61">GIFTCARDS</p>
    <img src="/IMAGES/AS_Home_Thumb_27_Giftcards.jpg" alt="">
   </div>
  </div>
  <div class="F">
    <img src="/IMAGES/Screenshot 2024-04-14 170719.png" alt="">
  </div>
  <div class="G">
    <img src="/IMAGES/Screenshot 2024-04-14 173052.png" alt="">
  </div>
  <div class="H">
    <p id="H1">DISCOVER OUR ONLINE EXCLUSIVE COLLECTIONS</p>
    <p id="H2">Elevate Your Style: Shop the Freshest Styles from our Online Exclusive Collections</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </div>
 
  </body>
</html>














































