<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/Css/allensollysub.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <div class="a">
        <p id="a1">Get flat Rs.500 off - Use code ASAPP500. Valid on your first order on Allen Solly app above Rs 2000. *T&Cs apply.</p>
    </div>
    <div class="b">
        <div class="bcut">
          <div class="b2">
            <img src="/IMAGES/icons8-location-50.png" alt="">
            Stores 
          </div>
          <div class="b3">
            <img src="/IMAGES/icons8-envelope-50.png" alt="">
            Contact us</div>
          <div class="b4">
            <img src="/IMAGES/icons8-person-64.png" alt="">
            login</div>
            <div class="b5">
              <img src="/IMAGES/icons8-heart-50.png" alt="">
            </div>
            <div class="b6">
              <img src="/IMAGES/icons8-bag-50.png" alt="">
            </div>
            <div class="b7">
              <img src="/IMAGES/download.png" alt="">
            </div>
            <div class="B1">
                <p>
                    <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      MORE BRANDS
                    </a>
                    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Button with data-bs-target
                    </button> -->
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <img src="/IMAGES/Screenshot 2024-04-15 213822.png" alt="">
                    </div>
                  </div>
            </div>
        </div>
        <div class="c">
            <div class="c1"><img src="/IMAGES/header_brand_logo_AS.png" alt=""></div>
            <div class="c2">
              PRODUCT
            </div>
            <div class="c3">
              NEW ARRIVALS
            </div>
            <div class="c4">
              SPECIAL SIZES
            </div>
            <div class="c5">
              WEDDING STORE
            </div>
            <div class="c6">
              GIFT CARD
            </div>
            <div class="c7">
              SALE
            </div>
            <div class="c8">
              <input type="text" placeholder="search">
            
            </div>
          </div>
          <div class="D">
            <img src="/IMAGES/submain.jpeg" alt="">
          </div>
          <div class="E">
            <div class="E1"><img src="/IMAGES/subsub.jpeg" alt=""></div>
            <div class="E2">
                <h6>LINEN LOUNGE</h6>
                <p id="E22">Relax in style with our linen lounge collection, offering comfort and elegance for your ultimate downtime retreat.</p>
               <a href="https://allensolly.abfrl.in/c/linen-lounge?page=1&orderby=position&orderway=desc"><div class="E23">EXPLORE NOW</div></a>
            </div>
          </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>

